.project-name_container {
    width: 55%;
}
.project-research {
    color: #550991;
}
.project-practical {
    color: #FD4C00;
}
.project-service {
    color: #0453ED;
}
.project-name {
    padding-bottom: 5%;
}
.row {
    justify-content: space-between;
}
.project-item {
    padding-bottom: 20px;
}
.project-item_header {
    text-decoration: underline;
    font-weight: 400;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 6px;
    padding-bottom: 5px;
}
.project-likes {
    margin-bottom: 40px;
}
.project-likes_count {
    font-size: 40px;
    margin-right: 12px;
}
.project-likes_voices {
    font-size: 20px;
}
.project-likes_button {
    margin-top: 5px;
    width: 47%;
    background-color: #0F2D69 !important;
}
.project-likes_button span {
    color:white;
}
.project-likes_button:hover, .project-likes_button:active, .project-likes_button:focus {
    background-color: #177A31 !important;
}
.project-participation {
    width: 80%;
}
.project-participation_header {
    font-weight: 400;
}
.project-participation_item {
    margin-bottom: 18px;
}
.project-participations_button {
    margin-top: 5px;
    background-color: #0F2D69 !important;
    width: 100%;
}
.project-participations_button span {
    color:white;
}
.project-participations_button:hover, .project-participations_button:focus, .project-participations_button:active {
    background-color: #177A31 !important;
}
.project-item_comment {
    padding-top: 20px;
}
.col_img {
    padding: 0 0 0 15px !important;
}
.col_comment {
    padding: 0 !important;
}
.project-item_comment_name {
    color: #0F2D69;
    font-size: 15px;
}
.col_img {
    width: 18% !important;
}
.project-item_comment_area {
    padding: 20px 0;
}
.send-comment_btn {
    margin: 20px 5px;

}
.send-comment_btn:hover {
    border: solid #0F2D69 1px;
}
.project-line {
    color:#0F2D69; 
    size:8px; 
    margin-top: 50px;
    opacity: 50%;
}
.project_admin-field {
    padding: 50px 0;
}
.project_admin-field_header {
    font-weight: 400;
    padding-bottom: 10px;
}
.project_admin-field_buttons {
    padding-top: 49px;
}
.project_admin-field_reject {
    background-color: #535353 !important;
    margin-bottom: 8px;
    width: 70%;
}
.project_admin-field_reject:hover {
    background-color: #6c6c6c !important;
}
.project_admin-field_reject span {
    color: white !important;
}
.project_admin-field_acept {
    background-color: #0B7F0B !important;
    width: 70%;
}
.project_admin-field_acept span {
    color: white !important;
}
.project_admin-field_acept:hover {
    background-color: #2cb12c !important;
}