body {
  
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
  
  }
p {
    font-family: "Inter", sans-serif !important;
  }

  .page-container {
    padding: 100px 150px 170px 100px;
  }

  /* Навигация */
.navbar {
    background-color: #0F2D69;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2px;
    padding-bottom: 1px;
  }
  .container-fluid {
    justify-content: space-between;
  }
  .nav-left {
    float: left;
    margin-right: 62%;
  }
  .current {
    text-decoration: underline !important;
    text-decoration-thickness: 0.5px !important;
    text-underline-offset: 7px;
  }
  .nav-left ul li {
    float: left;
  }

  .sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navbar-toggler {
    margin-top: 2px;
    margin-bottom: 1px;
    border: none;
    background: transparent;
    box-shadow:  5px 5px 15px #061637,
               -3px -3px 8px #172a51;
  }
  .nav-link {
    color:#f2f2f2 !important;
  }
  .menu {
    background: transparent;
    border: none;
  }
  .dropdown-toggle {
    background-color: #0F2D69;
  }
  .dropdown-menu a:hover, a:focus, a:active {
    background: transparent;
  }
  .dropdown-item {
    color:#f2f2f2;
  }
  .navbar-nav li {
    padding-right: 20px;
  }


  
/* Название платформы */
.main-page {
  background-image: url("/Project_platform/img/Start_page.png");
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  background-size: cover;
}

.main-page_container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-page_title {
  position: absolute;
  width: 700px;
  height: 187px;
  left: 45px;
  top: 300px;
  font-weight: 400 !important;
  font-style: normal;
  font-size: 65px;
  line-height: 70px;
  color:#1a1a1a;
  padding-top: 40px;
}
.main-page_button {
  position: absolute;
  width: 200px;
  height: 45px;
  left: 48px;
  top: 275px;

  font-weight: 400;
  line-height: 35px;

  background: white;
  border-style: solid;
  border-color: #0F2D69;
  color:#0F2D69;

}
.welcome-section_button span {
  font-size: 30px;
}









